.nav_item_container{
    width: fit-content;
    margin-right: 21px;
    background: #FFFFFF;
    color: black;
}

.nav_item_container_active{
    width: fit-content;
    background: #007EFF;
    color: white;
    margin-right: 21px;
}

.nav_content{
    display: inline-block;
    height: fit-content;
    margin: 14px 10px 10px 8px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 0.66rem;
    line-height: 17px;
}