.main_wrapper{
    width: 95%;
}
.sub_content{
    width: 100%;
    height: 350px;
    overflow-x: hidden;
    overflow-y: auto;
}
.radio_buttons{
    margin-top: 10px;
}

.radio_buttons input{
    width: 15px;
    height: 15px;
}

.radio_buttons label{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */

    width: 204px;
    height: 17px;
    color: #000000;
}
.dropdown{
    margin-top: 10px;
}
.radio_buttons div{
    margin-bottom: 5px;
}

.sub_wrapper{
    margin-top: 46px;
}

.heading{
    width: 290px;
    height: 32px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 32px;
    /* identical to box height */


    color: #000000;
}

.new_input{
    width: 315px;
    height: 29px;
    margin-top:8px;
}

.new_input input{
    width: 100%;
    height: 100%;
    background: #FFFFFF;
    border: 1px solid #C4C4C4;
    border-radius: 4px;
}

.subheading{
    width: 123px;
    height: 32px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 32px;
    margin-top: 26px;
    margin-bottom: 9px;

}


.add_rule{
    padding-top: 50px;
}

.add_rule button{
    height: 48px;
    width: 155px;
    background: #A0A4A8;
    box-shadow: 0px 8px 16px rgba(160, 164, 168, 0.35);
    border-radius: 8px;
    appearance: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
}

.button_wrapper{
    position: absolute;
    top:700px;
    left:800px;
    width: 100%;
}
.back_button{
    width: 130px;
    height: 50px;
    background-color:#000000;
    border-radius: 6px;
    color:white;    
    margin-right:10px
}

.proceed_button{
    width: 130px;
    height: 50px;
    background: #007EFF;
    color: white;
    border-radius: 6px;
    color:white;    
    margin-right:10px
}

.rules{
    width: 338px;
    height: 38px;
    margin-top:10px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 32px;

    color: #000000;
}