.main_wrapper{
    width: 98%;
}

.sub_content{
    width: 100%;
    height: 40%;
    overflow-x: hidden;
    overflow-y: auto;
}

.add_vol{
    padding-top: 40px;
}

.add_vol button{
    height: 48px;
    width: 155px;
    background: #A0A4A8;
    box-shadow: 0px 8px 16px rgba(160, 164, 168, 0.35);
    border-radius: 8px;
    appearance: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
}

.network_slider{
    position: relative;
    top:2%;
}

.network{
    width: 576px;
    height: 39px;
    left: 70px;
    top: 766px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 39px;
/* identical to box height */


color: #000000;
}

.network_slider .network_sub{
    margin-top:20px;
    width: 122px;
    height: 17px;
    left: 74px;
    top: 831px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
/* identical to box height */


color: #000000;
}

.network_slider input{
    margin-top:20px;
}

.button_wrapper{
    position: relative;
    top: 3%;
    left:60%;
    width: 100%;
}
.back_button{
    width: 130px;
    height: 50px;
    background-color:#000000;
    border-radius: 6px;
    color:white;    
    margin-right:10px
}

.proceed_button{
    width: 130px;
    height: 50px;
    background: #007EFF;
    color: white;
    border-radius: 6px;
    color:white;    
    margin-right:10px
}